@use '../../../Sass/mixins.scss' as mainSassFile;

main{
    @include mainSassFile.AppComponent('main', rgb(255,255,255), #000);
    display: flex;
    flex-direction: column;
    // align-items: center;
    hr{
        color: #000;
    }
    .row-products-filter{
        display: flex;
        flex-direction: row;
    }
    .row-cart{
        display: flex;
        justify-content: center;
    }
    
}

