.layout{
  display: grid;
  grid-template-areas: 
  "header",
  "main",
  "footer";
  height: 100vh;
  text-align: center;
  grid-template-rows: 70px 1fr 70px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
