@mixin AppComponent($compName,$backgroundColor: gray, $textColor: #000) {
    grid-area: $compName;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;
    border-bottom:1px solid $textColor;
    color: $textColor;
}
