nav ul{
        display: flex;
        background-color: #ddd;
        list-style: none;
        padding: 10px 35px;
}
nav ul li a{
    display: block;
    background-color:grey;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
}

nav ul li a.active{
    background-color: rgb(47, 97, 170);
}
